<a href="https://colab.research.google.com/github/ElyssaR1116/Final-Project-Python-Data-Science-/blob/main/Salinan_Elyssa_Ridhaningrum_Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. restoaccepts, userpayment

Fix Payment method string. Remove '_','-' and Capitalized first word in restoaccepts.csv and userpayment.csv, and all uppercase for VISA.

In [ ]:
#YOUR CODE HERE

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

resto_accepts = pd.read_csv('/content/drive/My Drive/Python For Data Science Project/Week 4_Final Project/data/restoaccepts.csv')
user_payment = pd.read_csv('/content/drive/My Drive/Python For Data Science Project/Week 4_Final Project/data/userpayment.csv')

In [ ]:
resto_accepts.head()

   placeID             Rpayment
0   135110                 cash
1   135110                 VISA
2   135110  MasterCard-Eurocard
3   135110     American_Express
4   135110     bank_debit_cards

In [ ]:
clean_data_rpy = resto_accepts.copy()
clean_data_rpy.Rpayment.value_counts()

cash                   500
MasterCard-Eurocard    194
VISA                   172
American_Express       153
bank_debit_cards       130
Visa                    83
Diners_Club             42
Discover                11
checks                  10
gift_certificates        7
Carte_Blanche            7
Japan_Credit_Bureau      5
Name: Rpayment, dtype: int64

In [ ]:
clean_data_rpy['Rpayment'] = clean_data_rpy.Rpayment.str.replace('_',' ')
clean_data_rpy['Rpayment'] = clean_data_rpy.Rpayment.str.replace('-',' ')
clean_data_rpy['Rpayment'] = clean_data_rpy.Rpayment.str.title()
clean_data_rpy['Rpayment'] = clean_data_rpy.Rpayment.str.replace('Visa','VISA')

In [ ]:
resto_accepts = clean_data_rpy.copy()
resto_accepts.Rpayment.value_counts()

Cash                   500
VISA                   255
Mastercard Eurocard    194
American Express       153
Bank Debit Cards       130
Diners Club             42
Discover                11
Checks                  10
Carte Blanche            7
Gift Certificates        7
Japan Credit Bureau      5
Name: Rpayment, dtype: int64

In [ ]:
user_payment.head()

  userID          Upayment
0  U1001              cash
1  U1002              cash
2  U1003              cash
3  U1004              cash
4  U1004  bank_debit_cards

In [ ]:
clean_data_upy = user_payment.copy()
clean_data_upy.Upayment.value_counts()

cash                   131
bank_debit_cards        22
VISA                    17
MasterCard-Eurocard      4
American_Express         3
Name: Upayment, dtype: int64

In [ ]:
clean_data_upy['Upayment'] = clean_data_upy.Upayment.str.replace('_',' ')
clean_data_upy['Upayment'] = clean_data_upy.Upayment.str.replace('-',' ')
clean_data_upy['Upayment'] = clean_data_upy.Upayment.str.title()
clean_data_upy['Upayment'] = clean_data_upy.Upayment.str.replace('Visa','VISA')

In [ ]:
user_payment = clean_data_upy.copy()
user_payment.Upayment.value_counts()

Cash                   131
Bank Debit Cards        22
VISA                    17
Mastercard Eurocard      4
American Express         3
Name: Upayment, dtype: int64

In [ ]:
#RUN THIS CELL TO GET YOUR SCORE AND DO NOT EDIT
import os

os.chdir('/content/drive/My Drive/Python For Data Science Project/Week 4_Final Project/data')
import Restopayment
import pandas as pd
import numpy as np

#CHANGE NONE TO YOUR OWN LIST VARIABLE NAME
print(Restopayment.score_resto_pay(resto_accepts.Rpayment.unique()))
print(Restopayment.score_user_pay(user_payment.Upayment.unique()))

Your score restaurant payment: 100.0%
Your score for user payment: 100.0%

#2. restocuisine, usercuisine

Fix cuisine string. Remove '_','-'.

In [ ]:
#YOUR CODE HERE

import pandas as pd
import numpy as np

resto_cuisine = pd.read_csv('/content/drive/My Drive/Python For Data Science Project/Week 4_Final Project/data/restocuisine.csv')
user_cuisine = pd.read_csv('/content/drive/My Drive/Python For Data Science Project/Week 4_Final Project/data/usercuisine.csv')

In [ ]:
resto_cuisine.head()

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

In [ ]:
clean_data = resto_cuisine.copy()
clean_data.Rcuisine.value_counts()

Mexican                 239
International            62
American                 59
Dutch-Belgian            55
Italian                  42
Greek                    33
Bar                      32
French                   31
Cafe-Coffee_Shop         27
Pizzeria                 25
Bar_Pub_Brewery          24
Cafeteria                23
Chinese                  21
Fast_Food                20
Seafood                  18
Japanese                 17
Family                   14
German                   14
Burgers                  13
Mediterranean            13
Vegetarian               10
Contemporary              9
Deli-Sandwiches           9
Steaks                    8
Hot_Dogs                  7
Asian                     7
Latin_American            7
Bakery                    6
Sushi                     6
Juice                     6
Polish                    5
Armenian                  5
Continental-European      4
Southwestern              3
Dessert-Ice_Cream         3
Diner                     3
Regional                  3
Breakfast-Brunch          3
Barbecue                  3
African                   3
Spanish                   3
Vietnamese                2
Game                      2
Eastern_European          2
Korean                    1
Organic-Healthy           1
Ethiopian                 1
Thai                      1
Afghan                    1
Brazilian                 1
Southern                  1
Soup                      1
Caribbean                 1
Persian                   1
Fine_Dining               1
California                1
Mongolian                 1
Turkish                   1
Bagels                    1
Name: Rcuisine, dtype: int64

In [ ]:
clean_data['Rcuisine'] = clean_data.Rcuisine.str.replace('_',' ')
clean_data['Rcuisine'] = clean_data.Rcuisine.str.replace('-',' ')

In [ ]:
resto_cuisine = clean_data.copy()
resto_cuisine.Rcuisine.value_counts()

Mexican                 239
International            62
American                 59
Dutch Belgian            55
Italian                  42
Greek                    33
Bar                      32
French                   31
Cafe Coffee Shop         27
Pizzeria                 25
Bar Pub Brewery          24
Cafeteria                23
Chinese                  21
Fast Food                20
Seafood                  18
Japanese                 17
German                   14
Family                   14
Mediterranean            13
Burgers                  13
Vegetarian               10
Contemporary              9
Deli Sandwiches           9
Steaks                    8
Latin American            7
Asian                     7
Hot Dogs                  7
Bakery                    6
Sushi                     6
Juice                     6
Polish                    5
Armenian                  5
Continental European      4
Spanish                   3
Breakfast Brunch          3
Dessert Ice Cream         3
Barbecue                  3
Regional                  3
Diner                     3
Southwestern              3
African                   3
Vietnamese                2
Eastern European          2
Game                      2
Persian                   1
Ethiopian                 1
California                1
Thai                      1
Korean                    1
Brazilian                 1
Fine Dining               1
Afghan                    1
Caribbean                 1
Southern                  1
Organic Healthy           1
Soup                      1
Mongolian                 1
Turkish                   1
Bagels                    1
Name: Rcuisine, dtype: int64

In [ ]:
user_cuisine.head()

  userID          Rcuisine
0  U1001          American
1  U1002           Mexican
2  U1003           Mexican
3  U1004            Bakery
4  U1004  Breakfast-Brunch

In [ ]:
clean_data = user_cuisine.copy()
clean_data.Rcuisine.value_counts()

Mexican             97
American            11
Pizzeria             9
Cafeteria            9
Cafe-Coffee_Shop     8
                    ..
Dutch-Belgian        1
Dim_Sum              1
Jamaican             1
Brazilian            1
Israeli              1
Name: Rcuisine, Length: 103, dtype: int64

In [ ]:
clean_data['Rcuisine'] = clean_data.Rcuisine.str.replace('_',' ')
clean_data['Rcuisine'] = clean_data.Rcuisine.str.replace('-',' ')

In [ ]:
user_cuisine = clean_data.copy()
user_cuisine.Rcuisine.value_counts()

Mexican       97
American      11
Pizzeria       9
Cafeteria      9
Family         8
              ..
Indigenous     1
Chilean        1
Brazilian      1
Dim Sum        1
Basque         1
Name: Rcuisine, Length: 103, dtype: int64

In [ ]:
#RUN THIS CELL TO GET YOUR SCORE AND DO NOT EDIT
import os

os.chdir('/content/drive/My Drive/Python For Data Science Project/Week 4_Final Project/data')
import Restocusine
import pandas as pd
import numpy as np

#CHANGE NONE TO YOUR OWN LIST VARIABLE NAME
print(Restocusine.score_resto_cuis(resto_cuisine.Rcuisine.unique()))
print(Restocusine.score_user_cuis(user_cuisine.Rcuisine.unique()))

Your score restaurant cuisine: 100.0%
Your score for user cuisine: 100.0%

#3. Resto Hours

In [ ]:
#YOUR CODE HERE

import pandas as pd
import numpy as np

resto_hours = pd.read_csv('/content/drive/My Drive/Python For Data Science Project/Week 4_Final Project/data/restohours.csv')
resto_hours.head()

   placeID         hours                  days
0   135111  00:00-23:30;  Mon;Tue;Wed;Thu;Fri;
1   135111  00:00-23:30;                  Sat;
2   135111  00:00-23:30;                  Sun;
3   135110  08:00-19:00;  Mon;Tue;Wed;Thu;Fri;
4   135110  00:00-00:00;                  Sat;

In [ ]:
resto_hours = resto_hours.drop_duplicates()
resto_hours = resto_hours.assign(days=resto_hours.days.str.split(';')).explode('days')
resto_hours = resto_hours[resto_hours.days!='']
resto_hours = resto_hours.groupby(['placeID', 'days'])['hours'].aggregate('first').unstack()
day = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']
resto_hours = resto_hours[day]
resto_hours = resto_hours.fillna(9999)
resto_hours

days                          Mon  ...                       Sun
placeID                            ...
132012               12:00-22:00;  ...              12:00-22:00;
132023               11:00-00:00;  ...              11:00-00:00;
132024               11:00-21:00;  ...              11:00-21:00;
132026               12:00-14:30;  ...                      9999
132030   12:00-15:00;15:00-21:00;  ...  12:00-15:00;15:00-21:00;
...                           ...  ...                       ...
135107               07:00-23:30;  ...              07:00-23:30;
135108               00:00-23:30;  ...              00:00-23:30;
135109               08:00-21:00;  ...              08:00-21:00;
135110               08:00-19:00;  ...              00:00-00:00;
135111               00:00-23:30;  ...              00:00-23:30;

[694 rows x 7 columns]

In [ ]:
#RUN THIS CELL TO GET YOUR SCORE AND DO NOT EDIT
import os

os.chdir('/content/drive/My Drive/Python For Data Science Project/Week 4_Final Project/data')
import Restohours
import pandas as pd
import numpy as np

print(Restohours.score_resto_hours(resto_hours))

4858
Your score for restohours is: 100.0%

#4. Geoplaces

In [ ]:
#YOUR CODE HERE

import pandas as pd
import numpy as np

geo_places = pd.read_csv('/content/drive/My Drive/Python For Data Science Project/Week 4_Final Project/data/geoplaces.csv')
geo_places.head()

   placeID   latitude   longitude  ... franchise    area other_services
0   134999  18.915421  -99.184871  ...         f  closed           none
1   132825  22.147392 -100.983092  ...         f    open           none
2   135106  22.149709 -100.976093  ...         f    open           none
3   132667  23.752697  -99.163359  ...         t  closed           none
4   132613  23.752903  -99.165076  ...         t  closed           none

[5 rows x 21 columns]

In [ ]:
geo_places['city'] = geo_places.city.replace(['s.l.p.','san luis potosi','slp','san luis potosi ','s.l.p','san luis potos'],'San Luis Potosi').replace('cuernavaca','Cuernavaca').replace(['Cd Victoria','Cd. Victoria','victoria ','victoria'],'Ciudad Victoria').replace('?','').str.title()
geo_places['state'] = geo_places.state.replace(['s.l.p.','san luis potosi','SLP','slp','S.L.P.','san luis potos'],'San Luis Potosi').replace(['morelos'],'Morelos').replace('tamaulipas','Tamaulipas').replace(['mexico'],'Mexico').replace(['Cd Victoria','Cd. Victoria','victoria ','victoria'],'Ciudad Victoria').replace('?','').str.title()
geo_places['country'] = geo_places.country.replace('?','').str.title()

In [ ]:
geo_places[['placeID', 'name']]

     placeID                            name
0     134999                 Kiku Cuernavaca
1     132825                 puesto de tacos
2     135106      El Rinc�n de San Francisco
3     132667  little pizza Emilio Portes Gil
4     132613                   carnitas_mata
..       ...                             ...
125   132866                         Chaires
126   135072                      Sushi Itto
127   135109                       Paniroles
128   135019     Restaurant Bar Coty y Pablo
129   132877                sirloin stockade

[130 rows x 2 columns]

In [ ]:
geo_places.city.value_counts()

San Luis Potosi    74
                   18
Ciudad Victoria    16
Cuernavaca         16
Jiutepec            4
Soledad             2
Name: city, dtype: int64

In [ ]:
geo_places.state.value_counts()

San Luis Potosi    74
Morelos            20
                   18
Tamaulipas         16
Mexico              2
Name: state, dtype: int64

In [ ]:
geo_places.country.value_counts()

Mexico    102
           28
Name: country, dtype: int64

In [ ]:
geo_places_final = geo_places[['placeID','city','state','country']]
geo_places_final

     placeID             city            state country
0     134999       Cuernavaca          Morelos  Mexico
1     132825  San Luis Potosi  San Luis Potosi  Mexico
2     135106  San Luis Potosi  San Luis Potosi  Mexico
3     132667  Ciudad Victoria       Tamaulipas
4     132613  Ciudad Victoria       Tamaulipas  Mexico
..       ...              ...              ...     ...
125   132866  San Luis Potosi  San Luis Potosi  Mexico
126   135072  San Luis Potosi  San Luis Potosi  Mexico
127   135109
128   135019         Jiutepec          Morelos  Mexico
129   132877

[130 rows x 4 columns]

In [ ]:
#RUN THIS CELL TO GET YOUR SCORE AND DO NOT EDIT
import os

os.chdir('/content/drive/My Drive/Python For Data Science Project/Week 4_Final Project/data')
import geoplaces
import pandas as pd
import numpy as np

geoplaces.score_geoplaces(geo_places_final)

Your score for geoplaces is: 100.0%

# **Data Analysis**

##1. Which student rate the most?

kalimatnya ambigu :(

In [ ]:
#YOUR CODE HERE

import pandas as pd
import numpy as np

dfrating = pd.read_csv('/content/drive/My Drive/Python For Data Science Project/Week 4_Final Project/data/rating_final.csv')
userprofile = pd.read_csv('/content/drive/My Drive/Python For Data Science Project/Week 4_Final Project/data/userprofile.csv')

In [ ]:
gabung = dfrating.join(userprofile.set_index('userID'), on='userID', how='outer')
gabung

     userID  placeID  rating  food_rating  ...   color  weight  budget height
0     U1077   135085       2            2  ...    blue      65  medium   1.71
1     U1077   135038       2            2  ...    blue      65  medium   1.71
2     U1077   132825       2            2  ...    blue      65  medium   1.71
3     U1077   135060       1            2  ...    blue      65  medium   1.71
433   U1077   135027       0            1  ...    blue      65  medium   1.71
...     ...      ...     ...          ...  ...     ...     ...     ...    ...
1155  U1043   132732       1            1  ...   white      60  medium   1.64
1156  U1043   132630       1            1  ...   white      60  medium   1.64
1152  U1011   132717       2            2  ...  purple      68  medium   1.78
1154  U1011   132564       1            1  ...  purple      68  medium   1.78
1157  U1011   132715       1            1  ...  purple      68  medium   1.78

[1161 rows x 23 columns]

In [ ]:
student_activity = gabung[gabung.activity.str.contains('student')][['userID','activity']]
student_activity.userID.value_counts()[:3]

U1134    16
U1022    14
U1137    14
Name: userID, dtype: int64

##2. What are the 5 names of the restaurant most visited?

In [ ]:
join = pd.merge(dfrating, geo_places, left_on='placeID', right_on='placeID', how='left')
join

     userID  placeID  rating  ...  franchise    area  other_services
0     U1077   135085       2  ...          f  closed            none
1     U1077   135038       2  ...          f  closed            none
2     U1077   132825       2  ...          f    open            none
3     U1077   135060       1  ...          f  closed            none
4     U1068   135104       1  ...          t  closed         variety
...     ...      ...     ...  ...        ...     ...             ...
1156  U1043   132630       1  ...          f  closed            none
1157  U1011   132715       1  ...          f    open            none
1158  U1068   132733       1  ...          t  closed            none
1159  U1068   132594       1  ...          f    open            none
1160  U1068   132660       0  ...          f  closed            none

[1161 rows x 25 columns]

In [ ]:
join.name.value_counts()[:5]

Tortas Locas Hipocampo                36
puesto de tacos                       32
Cafeteria y Restaurant El Pacifico    28
Gorditas Doa Gloria                   25
La Cantina Restaurante                25
Name: name, dtype: int64

##3. Is being the most visited mean having the highest rating?

In [ ]:
group_rating = dfrating.groupby(['placeID'])['rating', 'food_rating', 'service_rating'].agg('mean')
highest_rating = pd.merge(group_rating, geo_places, left_on='placeID', right_on='placeID', how='left')
highest_rating = highest_rating.sort_values('rating', ascending=False)
highest_rating = highest_rating[['placeID', 'rating', 'name']]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [ ]:
highest_rating.head(5)

    placeID    rating                        name
57   132955  2.000000                   emilianos
82   135034  2.000000  Michiko Restaurant Japones
62   134986  2.000000    Restaurant Las Mananitas
52   132922  1.833333        cafe punta del cielo
26   132755  1.800000        La Estrella de Dimas

##4. What 5 restaurants having the highest average rating?

In [ ]:
group = dfrating.groupby(['placeID'])['rating', 'food_rating', 'service_rating'].agg('mean')
average_rating = np.mean(group, axis=1)
group['average_rating'] = average_rating
group

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

           rating  food_rating  service_rating  average_rating
placeID
132560   0.500000     1.000000        0.250000        0.583333
132561   0.750000     1.000000        1.000000        0.916667
132564   1.250000     1.250000        1.500000        1.333333
132572   1.000000     1.000000        0.933333        0.977778
132583   1.000000     1.000000        1.250000        1.083333
...           ...          ...             ...             ...
135088   1.000000     1.166667        1.000000        1.055556
135104   0.857143     1.428571        0.857143        1.047619
135106   1.200000     1.200000        1.200000        1.200000
135108   1.181818     1.181818        1.000000        1.121212
135109   1.000000     1.250000        0.750000        1.000000

[130 rows x 4 columns]

In [ ]:
place = pd.merge(group, geo_places, left_on='placeID', right_on='placeID', how='right')
place_average_rating = place.sort_values('average_rating', ascending=False)
place_average_rating = place_average_rating[['placeID', 'rating', 'food_rating', 'service_rating', 'average_rating', 'name']]
place_average_rating.head(5)

    placeID  rating  ...  average_rating                        name
62   134986    2.00  ...        2.000000    Restaurant Las Mananitas
57   132955    2.00  ...        1.866667                   emilianos
82   135034    2.00  ...        1.866667  Michiko Restaurant Japones
70   135013    1.75  ...        1.833333                   Giovannis
26   132755    1.80  ...        1.800000        La Estrella de Dimas

[5 rows x 6 columns]

# **2 Restaurants Recommended**

In [ ]:
recom = place.copy()
recom = pd.merge(recom, resto_cuisine, left_on='placeID', right_on='placeID', how='right')
recom = pd.merge(recom, resto_accepts, left_on='placeID', right_on='placeID', how='right')
recommended = recom.loc[(recom.city == 'San Luis Potosi') & (recom.Rcuisine == 'Japanese') & (recom.Rpayment != 'Cash')]
recommended[['placeID', 'average_rating', 'name', 'city', 'Rcuisine', 'Rpayment']]

     placeID  average_rating  ...  Rcuisine             Rpayment
135   135034        1.866667  ...  Japanese                 VISA
136   135034        1.866667  ...  Japanese  Mastercard Eurocard
137   135034        1.866667  ...  Japanese     American Express
201   135072        1.291667  ...  Japanese                 VISA
202   135072        1.291667  ...  Japanese  Mastercard Eurocard
203   135072        1.291667  ...  Japanese     American Express

[6 rows x 6 columns]